{% extends "base.html" %}

{% block content %}
    <h1>Manage section: {{ section_id }}</h1>
    {% if section %}
    	<p><a href={{ url_for('admin', section_code = section.code) }}>{{ section.code }}</a></p>
    {% endif %}
    {% if problem %}
    	<p><a href={{ url_for('admin', problem_code = problem.code) }}>{{ problem.code }}</a></p>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.sectioncode.label }}<br>
            {{ form.sectioncode(size=32) }}<br>
            {% for error in form.sectioncode.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.problemcode.label }}<br>
            {{ form.problemcode(size=64) }}<br>
            {% for error in form.problemcode.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.delete.label }}<br>
            {{ form.delete(size=32) }}<br>
            {% for error in form.delete.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
