{% extends "base.html" %}

{% block content %}
    <h1>Manage problem: {{ problem_code }}</h1>
    {% if problem %}
    	<p><a href={{ url_for('problem', problem_id = problem.code) }}>{{ problem.code }}</a></p>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.code.label }}<br>
            {{ form.code(size=32) }}<br>
            {% for error in form.code.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=64) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.shortdescription.label }}<br>
            {{ form.shortdescription(size=32) }}<br>
            {% for error in form.shortdescription.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=512) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.timelimit.label }}<br>
            {{ form.timelimit(size=32) }}<br>
            {% for error in form.timelimit.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.visible.label }}<br>
            {{ form.visible(size=32) }}<br>
            {% for error in form.visible.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.delete.label }}<br>
            {{ form.delete(size=32) }}<br>
            {% for error in form.delete.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
