<html>
    <head>
        {% if title %}
        <title>{{ title }} - PS</title>
        {% else %}
        <title>Welcome to PS</title>
        {% endif %}
    </head>
    <body bgcolor="#FF9933", text="#000000">
        <div>
		<b>PS 0.1:</b>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('ranks') }}">Ranks</a>
	    {% if current_user.admin %}
	    <a href="{{ url_for('admin') }}">Admin</a>
	    {% endif %}
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
	<p>
		<hr size="5", color="#000777">
	</p>
	<p>
		<hr size="5", color="#000777">
	</p>
	<blockquote>
	        {% with messages = get_flashed_messages() %}
	        {% if messages %}
	        <ul>
	            {% for message in messages %}
	            <li>{{ message }}</li>
	            {% endfor %}
	        </ul>
	        {% endif %}
	        {% endwith %}
	        {% block content %}{% endblock %}
	</blockquote>
    </body>
</html>
