{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <div>
	    <p size="+1">
	    	<b>{{ problem.code }}: {{ problem.name }}</b>
	    </p>
	    <p>
	    </p>
	    <p>
	    </p>
	    <blockquote>
	    {{ problem.description }}
	    </blockquote>
	    <p></p>
	    <p size="+1">Available files:</p>
	    {% for file in files %}
	    <p><a href="{{ url_for('get_file', problem_id = problem.code, file = file.id) }}">{{ file.file_name }}</a></p>
	    {% endfor %}
	    <table border="2">
		    <tr>
			    <th>Input</th>
			    <th>Response</th>
			    <th>Status</th>
		    </tr>
	    {% for testcase in testcases %}
	    <tr>
		    <td><a href="{{ url_for('get_file', problem_id = problem.code, file = testcase.input_file) }}">arq{{ testcase.test_case }}.in</a></td>
		    <td><a href="{{ url_for('get_file', problem_id = problem.code, file = testcase.res_file) }}">arq{{ testcase.test_case }}.res</a></td>
		    <td>{% if testcase.is_open_case %}Open{% else %}Closed{% endif %}</td>
	    </tr>
	    </table>
	    {% endfor %}
	    <form method=post enctype=multipart/form-data>
		    <p>your_submission.R<input type=file name=file></p>
            <input type=submit value=Upload>
	    </form>
    </div>
{% endblock %}
